body{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    

    
}

header{
    position: sticky;
    height: 699px;
padding-left: 160px;
padding-right: 160px;
padding-top: 76px;

background: #222222;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .a1{
    position: absolute;
    width: 68.92px;
    height: 10.39px;
    color: #D4D4D4;
    left: 285.4px;
    text-decoration: none;
}

header .a2{
    position: absolute;
width: 55.79px;
height: 10.39px;
left: 387.4px;
color: #D4D4D4;
text-decoration: none;
}

header .a3{
    position: absolute;
    width: 66.18px;
    height: 10.39px;
    left: 476.4px;
    color: #D4D4D4;
    text-decoration: none;
}

header .Logo{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 160px;
    top: 55px;
}

header .mail{
    position: absolute;
width: 17px;
height: 12px;
left: 1062px;
}
header .phone{
    position: absolute;
width: 17px;
height: 17px;
left: 1103px;
}

header .luna{
    position: relative;
    left: 682px;
    top: 140px;
    width: 438px;
    height: 438px;
    background: url(moon-rocket.png);
}

header .frame1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 255.68px;
    height: 105.26px;
    left: 276.37px;
    top: 229.94px;
    font-size: 50px;
    color: #FFFFFF;;
}

header .frame2{
    position: absolute;
width: 250.54px;
height: 51.46px;
left: 287.26px;
top: 400px;
color: #C4C4C4;;
}

header .button1{
    position: relative;
    display: inline-block;
width: 240px;
height: 50px;
left: 100px;
border-radius: 30px 30px;
text-align: center;





background: #FFCB06;

}

header .button1 a{
    margin: 0;  
   text-align: center;        
   top: 50%;                         
   transform: translate(0, -50%);
   color: #222222;
   text-decoration: none;
   top: 50%;
   padding: 70px 0;
   
}



.advantage{     
height: 321px;
background: #131313;
padding-left: 187px;
padding-right: 258px;
padding-top: 84px;
padding-bottom: 81px;
text-align: center;
}

.advantage .bl1{
    display: inline-block;
    width: 170px;
    height: 55px;
    left: 163px;
    top: 187px;
    
    /* Text */
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    /* Text */
    
    color: #D4D4D4;
}

.advantage .bl2{
    display: inline-block;
width: 60px;
height: 68px;
left: 423px;
top: 85px;




width: 170px;
    height: 55px;
    left: 163px;
    top: 187px;
    
    /* Text */
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    /* Text */
    
    color: #D4D4D4;
}

.advantage .bl3{
    display: inline-block;
    width: 60px;
    height: 68px;
    left: 423px;
    top: 85px;
    
    
    
    
    width: 170px;
        height: 55px;
        left: 163px;
        top: 187px;
        
        /* Text */
        
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        
        /* Text */
        
        color: #D4D4D4;
}



.advantage .bl4{
    display: inline-block;
width: 60px;
height: 68px;
left: 423px;
top: 85px;




width: 170px;
    height: 55px;
    left: 163px;
    top: 187px;
    
    /* Text */
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    /* Text */
    
    color: #D4D4D4;
}

.content{
    display: flex;
    flex-direction: row;
    padding-top: 89px;
    padding-bottom: 89px;
    padding-left: 182px;
    padding-right: 202px;
    margin: 0 0 auto auto;
}
.map{
    width: 440px;
  height: 346px;
}
.text{
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer{

width: 100%;
height: 354px;
left: 0px;
bottom: 0;
background: #131313;
}

.txt1{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 27px;

color: #000000;
}

.txt2{
    font-family: 'Verdana';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;

}

.li1{
    list-style-image: url(Ellipse\ 4.svg);
    font-family: 'Verdana';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;
}

.fl1{
    width: 455px;
}

.imagelogo{
    width: 60px;
height: 60px;
left: 160px;
top: 60px;

background: url(logo.png);
}
.site-footer {
    padding-top: 50px;
    padding-bottom: 80px;
    color: #ffffff;
   
    
  
    background-color: #131313;
  }
  
  
  .footer-columns-container {
    display: flex;
  }
  
  .footer-columns-container .left-column {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-right: 100px;
    margin: auto auto auto auto;
  }
  
  .footer-columns-container .right-column {
    width: 720px;
    padding-top: 35px;
    margin: auto auto auto auto;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .logo-container .logo {
    margin-left: 0;
    margin-right: 20px;
  }
  
  .logo-container p {
      font-size: 14px;
  }
  
  .copyrights {
    margin-top: auto;
    color: #555555;
  }
  
  .footer-menu {
    display: flex;
  
    margin: 0;
    padding: 0;
  
    list-style: none;
  }
  
  .footer-menu > li {
    width: 180px;
    margin-right: 60px;
  }
  
  .footer-submenu-title {
    display: block;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  
    border-bottom: 1px solid #555555;
    
  }
  
  .footer-submenu {
    margin: 0;
    padding: 0;
  
    list-style: none;
  }
  
  .footer-submenu > li {
    margin-bottom: 20px;
  }
  
  .footer-submenu a {
    text-decoration: none;
    color: #888888;
  }
  
  
      .footer-nav a:hover {
        color: white;
        
      }
  
      .footer-nav a:active {
        color: #ccc;
      }

      .text-container{
        margin: auto auto auto auto;
      }